.form-container {
    width: 100%;
    padding: 10px 22px 16px 0;
}

.form-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 11px;
    margin-bottom: 10px;
}

.form-list-item {
    width: calc((100% - 32px) / 2);
}

.form-input {
    width: calc(100% - 33px);
    padding: 5px 16px;
    border-radius: 5px;
    border: none;
    background: #E8E8E8;

    color: #717171;
    
    font-family: Saira;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-textarea {
    width: calc(100% - 52px);
    padding: 5px 16px;
    resize: none;
    border: none;
    border-radius: 5px;
    background: #E8E8E8;

}

.buttons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.buttons-list-item {
    width: calc((100% - 32px) / 2);
}

.button {
    width: 100%;
    height: 24px;
    padding: 4px 22px;
    border: none;
    border-radius: 5px;
    background: #696969;
    color: #FFF;
    
    text-align: center;
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;

    transition: background 300ms linear;
}

.button:hover {
    background: #3b3b3b;
}